body {
  font-family: "Roboto", sans-serif;
  font-size: medium;
  text-align: center;
}
@media (min-width: 1024px) {
  body {
    font-size: 50px;
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
ul {
  list-style-type: none;
}
link {
  text-decoration: none;
}

.main-img {
  width: 95vw;
}
.card {
  display: flex;
  flex-direction: column;
}
.card-img {
  width: 30vw;
}
.card-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  display: block;
}
/* .address-list {
  display: flex;
  flex-direction: wrap;
  gap: 60px;
} */
.wrapper {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
@media (min-width: 425px) {
  .wrapper {
    gap: 30px;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    gap: 50px;
  }
}
